:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-style-color:#000000;
    --accent-color-logo:#FFFFFF;
    --border-color:#ECECEC;
    --section-team-background-color:#F5F4FA;
    --button-active-secondary-color:#188CE8;
    --secondary-text-color:#757575;
    --footer-background-color:#2F303A;
    --color-social-icon:#AFB1B8;
    --social-icon-join:#FFFFFF1A;
    --modal-background:#0000001A;
    --cubic-bez: cubic-bezier(0.4, 0, 0.2, 1);
}