.section-employee {
    background-color:var(--section-team-background-color);
}

.employee__title {
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;  
}

.employee__block {
    display: flex;
}

.employee__list:not(:last-child) {
    margin-right: 30px;
}

.employee__box {
    background-color:var(--accent-color-logo);
    width: 270px;
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.block__title {
    color:var(--title-text-color);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.block__subtitle {
    color:var(--secondary-text-color);
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-menu {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.social-menu__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu__link:hover,
.social-menu__link:focus {
    background-color:var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu__link:hover .social-menu__icon,
.social-menu__link:focus .social-menu__icon {
    fill: var(--accent-color-logo);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu__icon {
    fill: var(--color-social-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}